
body {
    background-color: #421d1d;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ff00005b;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}